---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ["all"]
permalink: /tags/{{ tag }}/index.html
eleventyComputed:
  title: "{{ tag | title }} LIST :> "
---

{% extends "base.njk" %}

{% block content %}
  <h2>#{{ tag }} LIST ;></h2>
    {% for item in collections[tag] %}
    [<a href="{{ item.url | url }}">{{ item.data.title }}</a>]
    {% endfor %}
  </div>
  <div class="back-link">
  <a href="{{ '/' | url }}" class="back-button">Back to Gallery</a>
  
{% endblock %}
