{% extends "base.njk" %}

{% block content %}
<article class="sketch-card">

<h1 class="center-box-title">{{ title }}</h1>

<div class="center-box">

 <div class="post-date"> {{ date | date("M/d/yyyy") }}</div>
 
  {{ content | safe }}
  
{% if tags %}
  <ul class="post-tags">
    {% for tag in tags %}
   <a href="{{ ('/tags/' + tag) | url }}">#{{ tag }}</a>
    {% endfor %}
  </ul>
  
{% endif %}
</div>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('doppecoppe', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Good(☌ ɷ☌)b',
    'floating-chat.donateButton.background-color': '#794bc4',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>

<div class="back-link">
 <a href="{{ '/' | url }}" class="back-button">Back to Gallery</a>
</div>
</article>
{% endblock %}
